@import '../../../variables';
* {
  outline: dotted 1px;
}

.form {
  width: 300px;
  border-radius: 5px;
  border: 1px solid;
  height: auto;
}


.fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  border: 0;
  margin: 30px
}

.row1,
.row2,
.row3 {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* Button Sign In*/
.sign_in {
  width: 150px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  background-color: $primary-color;
  color: white;
}

input {
  border-radius: 5px;
  padding: 5px;
}

.error-message {
  text-align: center;

  color: red;
  font-weight: bold;
  font-size: 13px;
}


